<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" routerLink="/app/dashboard">Logo</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="user">Load User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="emp">Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="product">Load Products</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Dropdown link
      </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link cursor-pointer" (click)="logMeOut()">Logout</a>
        </li>
        <li class="nav-item navbar-right">
            <a class="nav-link cursor-pointer cart">
                <i class="fa fa-shopping-cart"></i> {{cartList.length}}
            </a>
        </li>
    </ul>
</nav>